/* Feel free to edit CSS of body if you'd like. We provide you the light gray background color and font family in the body styling */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  background-color: #e6ecf0;
}

ul{
  list-style:none;
}

#navbarContents{
  position:fixed;
  display:inline-flex;
  justify-content: space-evenly;
  top:0;
  right:0;
  left:0;
  height:46px;
  z-index:100;
  background-color:white;
}

#twitter-logo{
  height:20px;
  width:auto;
}

.banner-container{
  background-color:black;
  min-height:100px;
  align-items:center;
  text-align:center;
}
.banner{
  width:80%;
  height:auto;
  z-index:1;
  padding-top:5%;
}
.profile{
  position:relative;
  top:-30px;
  left:10px;
  z-index:2;
  width:60px;
  height:auto;
  border-radius:50%;
}
.profile-data{
  position:relative;
  top:-15px;
}

.user-info{
  position:relative;
  background-color:white;
  width:290px;
  height:100%;
}

.tweet-list{
  width:610px;
  background-color:beige;
  height:auto;
}
.tweet{
  background-color:white;
}
.tweet-profile{
  width:60px;
  height:auto;
  border-radius:50%;
}
.user-info-stats{
  list-style:none;
  display:inline-flex;
  justify-content:space-between;
}

.follow-list{
  width:290px;
  background-color:red;
  height:auto;
}

.mainpage-container{
  max-width:1190px;
  margin: 56px auto;
  padding-top:10px;

  display:flex;
  justify-content:center;
}

/* TODO: Create CSS for your Twitter Mockup */